{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Welcome</h1>


<div>
    <div class='col-md-3'>
        {% for type in types %}
        <nav>
            <div><a href='/?type_id={{ type.id }}'>{{ type.name }}</a></div>
        </nav>
        {% endfor %}
    </div>
    <div class='col-md-9'>
        <div class='col-md-12'>
            {{productTypes.name}}
        </div>
        {% for productType in productTypes %}
        <div class='row'>
            <div class='col-md-1'>{{ productType.product_id }}</div>
            <div class='col-md-2'>{{ productType.product_name }}</div>
            <div class='col-md-2'>{{ productType.value }} | {{ productType.type_description }}</div>
            <div class='col-md-3'>

                <div class="form-group">
                    <div class='input-group date' id='date_from{{ productType.product_id }}'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>

                <div class="form-group">
                    <div class='input-group date' id='date_to{{ productType.product_id }}'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function (event) {
                    $(function () {
                        $('#date_from{{ productType.product_id }}').datetimepicker();
                        $('#date_to{{ productType.product_id }}').datetimepicker();
                    });
                });
            </script>

            <div class='col-md-1'>buy</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
